<h4 *ngIf="!requests || requests.length===0">&nbsp;&nbsp;There are currently no requests.</h4>
<div class="table-responsive" *ngIf="requests && requests.length > 0">
    <div *ngFor="let request of requests" class="row">
        <div class="col-xl-12 table-bordered">
            <div class="row"> 
                <div class="col-xl-3 offset-xl-4 table-bordered">
                        First name: &nbsp;&nbsp; {{request.firstName}}
                </div>
            </div>
            <div class="row"> 
                <div class="col-xl-3 offset-xl-4 table-bordered">
                        Last name: &nbsp;&nbsp; {{request.lastName}}
                </div>
            </div>
            <div class="row"> 
                <div class="col-xl-3 offset-xl-4 table-bordered">
                        Address: &nbsp;&nbsp; {{request.address}}
                </div>    
            </div>
            <div class="row"> 
                <div class="col-xl-3 offset-xl-4 table-bordered">
                        Passenger type: &nbsp;&nbsp; {{request.passengerType}}
                </div>
            </div>
            <div class="row"> 
                <div class="col-xl-3 offset-xl-4 table-bordered">
                        Requested passenger type: &nbsp;&nbsp; {{request.newPassengerType}}
                </div>
            </div>
            <div class="row"> 
                    <div class="col-xl-2 offset-xl-4">
                        <button id="show_image_{{request.firstName}}_{{request.lastName}}" class="btn btn-lg btn-warning" (click)="setImageForShow(request.id)"  data-toggle="modal" data-target="#exampleModalCenter"> Show image</button>
                    </div>
            </div>
            <div class="row">
                <div class="col-xl-2 offset-xl-3"> 
                    <button id="decline_{{request.firstName}}_{{request.lastName}}" class="btn btn-lg btn-danger" (click)="acceptOrDecline(false, request)" [disabled]="!request.imageLoaded">Decline</button>
                </div>
                <div class="col-xl-2 offset-xl-2"> 
                    <button id="accept_{{request.firstName}}_{{request.lastName}}" class="btn btn-lg btn-success" (click)="acceptOrDecline(true, request)" [disabled]="!request.imageLoaded">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-image-dialog [image]="imageForShow" [imageLoaded]="imageForShowLoaded"> </app-image-dialog>

