<div>
  <a class="nav-item nav-link btn btn-outline-primary" href="#" routerLink="/transport/zone" routerLinkActive="active">Zones</a>
  <a class="nav-item nav-link btn btn-outline-primary" href="#" routerLink="/transport/line" routerLinkActive="active">Lines</a>
  <a class="nav-item nav-link btn btn-outline-primary" href="#" routerLink="/transport/stop" routerLinkActive="active">Stops</a>
  <a class="nav-item nav-link btn btn-outline-primary" href="#" routerLink="/transport/schedule" routerLinkActive="active">Schedules</a>
</div>
