<table>
  <tr>
    <td>
      <a class="nav-item nav-link btn btn-outline-primary" href="#"
         routerLink="/transport/zone" routerLinkActive="active">Zones</a>
    </td>
    <td>
      <a class="nav-item nav-link btn btn-outline-primary" href="#"
         routerLink="/transport/add_zone" routerLinkActive="active">Add</a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="nav-item nav-link btn btn-outline-primary" href="#"
         routerLink="/transport/line" routerLinkActive="active">Lines</a>
    </td>
    <td>
      <a class="nav-item nav-link btn btn-outline-primary" href="#"
         routerLink="/transport/add_line" routerLinkActive="active">Add</a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="nav-item nav-link btn btn-outline-primary" href="#"
         routerLink="/transport/stop" routerLinkActive="active">Stops</a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="nav-item nav-link btn btn-outline-primary" href="#"
         routerLink="/transport/schedule" routerLinkActive="active">Schedules</a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="nav-item nav-link btn btn-outline-primary" href="#"
         routerLink="/transport/priceticket" routerLinkActive="active">PriceTickets</a>
    </td>
  </tr>
</table>
