
<form>
  <div class="form-group">
      <label for="id_schedule_valid_from">Schedule is valid from</label>
      <select class="form-control" id="id_schedule_valid_from" [(ngModel)]="schedule.date" name="date">
        <option *ngFor="let date of dates" [ngValue]="date">{{date}}</option>
      </select>
  </div>
  
  <div class="form-group">
      <label for="id_zone">Zone</label>
      <select class="form-control" id="id_zone" [(ngModel)]="selectedZone" name="zone">
          <option *ngFor="let zone of zones; let i = index" [ngValue]="zone">{{zone.name}}</option>
      </select>
  </div>
  
  <div class="form-group">
    <label for="id_line">Line</label>
    <select multiple class="form-control" id="id_line" [(ngModel)]="schedule.lines" name="lines">
      <option *ngFor="let line of selectedZone.lines" [ngValue]="line.id">{{line.name}}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="id_day">Day</label>
    <select class="form-control" id="id_day" [(ngModel)]="schedule.day" name="day">
      <option [ngValue]="0">Workday</option>
      <option [ngValue]="1">Saturday</option>
      <option [ngValue]="2">Sunday</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary btn-lg" (click)="click()">Show</button>
</form>

<div class="row">

</div>