<div class="row">
  <div class="col-xl-12">
      <form>
          <div class="form-group">
              <label for="id_schedule_valid_from">&nbsp;&nbsp;Schedule is valid from</label>
              <select class="form-control" id="id_schedule_valid_from" [(ngModel)]="schedule.date" name="date">
                <option *ngFor="let date of dates" [ngValue]="date">{{date}}</option>
              </select>
          </div>
          
          <div class="form-group">
            <label for="id_transport_type_in_show_schedule">&nbsp;&nbsp;Transport</label>
            <select id="id_transport_type_in_show_schedule" class="form-control custom-select" [(ngModel)]="transport" name="transport" (change)="transportChanged()">
              <option [ngValue]="0">{{transports[0]}}</option>
              <option [ngValue]="1">{{transports[1]}}</option>
              <option [ngValue]="2">{{transports[2]}}</option>
            </select>
          </div>

          <div class="form-group">
              <label for="id_zone_in_show_schedule">&nbsp;&nbsp;Zone</label>
              <select class="form-control" id="id_zone_in_show_schedule" [(ngModel)]="selectedZone" name="zone" (change)="selectedZoneChanged()">
                  <option *ngFor="let zone of zones" [ngValue]="zone">{{zone.name}}</option>
              </select>
          </div>
          
          <div class="form-group">
            <label for="id_line_in_show_schedule">&nbsp;&nbsp;Line</label>
            <select multiple class="form-control" id="id_line_in_show_schedule" [(ngModel)]="schedule.lines" name="lines">
                <ng-template [ngIf]="selectedZone"> 
                    <option *ngFor="let lineName of selectedZone.distinctLines" [ngValue]="lineName">{{lineName}}</option>
                </ng-template>
            </select>
          </div>
          
          <div class="form-group">
            <label for="id_day">&nbsp;&nbsp;Day</label>
            <select class="form-control" id="id_day" [(ngModel)]="schedule.day" name="day">
              <option [ngValue]="0">{{days[0]}}</option>
              <option [ngValue]="1">{{days[1]}}</option>
              <option [ngValue]="2">{{days[2]}}</option>
            </select>
          </div>
          
          <br/>
          <br/>
          <button type="button" class="btn btn-primary btn-lg" (click)="show(target)">Show</button>
        </form>
  </div>
</div>

<div #target class="row">
    <div class="col-xl-12 d-flex justify-content-center">
        <app-show-times [linesWithTimes]="linesWithTimes"></app-show-times> 
    </div>
</div>
