<div>
  <table class="table_style" cellpadding="5">
    <tr>
      <td>
        <agm-map [latitude]="center.lat" [longitude]="center.lng" [zoom]="13.5">
          <app-transport-admin-line-map
            (mapReadyEventHandler)="mapReady()"
            (latLngEmitter)="getNewPointEventHandler($event)"
            (stopEmitter)="selectedStopEventHandler($event)"
            (pointEmitter)="selectedPointEventHandler($event)"
            [currentAction]="currentAction"
            [currentEntity]="currentEntity">
          </app-transport-admin-line-map>
        </agm-map>
      </td>
      <td valign="top">
        <table>
          <tr>
            <td><label for="line_name_input" class="right_margin">Line name:</label></td>
            <td><input id="line_name_input" [(ngModel)]="lineName" style="width:100px"/></td>
            <td><button (click)="renameLine()">Rename</button></td>
            <td></td>
          </tr>
          <tr>
            <td><label for="show_all_stops_input">Show all stops:</label></td>
            <td>
              <input id="show_all_stops_input" type="checkbox"
                     (change)="showAllStops()" style="width:20px;height:20px"/>
            </td>
            <td><label for="show_line_points_input">Show line points:</label></td>
            <td>
              <input id="show_line_points_input" type="checkbox"
                     (change)="showLinePoints()" style="width:20px;height:20px"/>
            </td>
          </tr>
        </table>
        <table>
          <tr>
              <th><label>Choose direction:</label></th>
              <td><button id="directiona_button" (click)="directionAClick()">{{directionA.name}}</button></td>
              <td><button id="directionb_button" (click)="directionBClick()">{{directionB.name}}</button></td>
          </tr>
          <tr>
            <td colspan="3"><div style="height: 15px"></div></td>
          </tr>
          <tr>
            <td colspan="3">
              <table>
                <tr>
                  <th colspan="2"><label for="entity_select">Choose entity: </label></th>
                  <td>
                    <select id="entity_select" (change)="entityChanged($event)">
                      <option selected>STOP</option>
                      <option>POINT</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th colspan="2"><label for="action_select">Choose action: </label></th>
                  <td>
                    <select id="action_select" class="right_margin" (change)="actionChanged($event)">
                      <option selected>ADD</option>
                      <option>DELETE</option>
                    </select>
                  </td>
                </tr>
              </table>
              <div style="height: 25px"></div>
              <table>
                <tr>
                  <th colspan="2">Selected {{currentEntity}}</th>
                </tr>
                <tr><td colspan="2"><label> </label></td></tr>
                <tr *ngIf="currentEntity === 'STOP'">
                  <td><label for="name_input" class="right_margin">Name: </label></td>
                  <td><input id="name_input" type="text" [(ngModel)]="selectedStop.name" disabled></td>
                </tr>
                <tr>
                  <td><label for="lat_input" class="right_margin">Lat: </label></td>
                  <td><input id="lat_input" type="text" [value]="latitude" disabled/></td>
                </tr>
                <tr>
                  <td><label for="lng_input" class="right_margin">Lng: </label></td>
                  <td><input id="lng_input" type="text" [value]="longitude" disabled/></td>
                </tr>
                <tr *ngIf="currentAction === 'ADD'">
                  <td><label for="ordinary_number_input" class="right_margin">Ordinary number:</label></td>
                  <td><input id="ordinary_number_input" type="number" [(ngModel)]="newLineStopOrdinaryNumber" min="1"/></td>
                </tr>
                <tr><td></td><td><button (click)="doAction()">{{currentAction}}</button></td></tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
