.line_not_active {
  background: #404040;
}



.switch input { 
  display:none;
}
.switch {
  display:inline-block;
  width:50px;
  height:20px;
  margin:8px;
  transform:translateY(50%);
  position:relative;
}

.slider {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:30px;
  box-shadow:0 0 0 2px rgb(255, 255, 255), 0 0 4px rgb(255, 255, 255);
  cursor:pointer;
  border:4px solid transparent;
  overflow:hidden;
   transition:.4s;
}
.slider:before {
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background:rgb(255, 255, 255);
  border-radius:30px;
  transform:translateX(-30px);
  transition:.4s;
}

.line_not_active .slider {
  box-shadow:0 0 0 2px #000000, 0 0 4px #000000 !important;
}

.line_not_active .slider:before {
  background:#000000 !important;
}

input:checked + .slider:before {
  transform:translateX(30px);
  /*background:limeGreen;*/
}
input:checked + .slider {
  /*box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;*/
}





