.wrapperr {
  overflow: hidden; /* will contain if #first is longer than #second */
}
.firstt {
  width: 100px;
  float:left;
}
.secondd {
  overflow: hidden; /* if you don't want #second to wrap below #first */
  width: 50px;
  margin-right: 10px;
}
