<h4 *ngIf="!admins || admins.length===0"> &nbsp;&nbsp;There are currently no deactivated administrators.</h4>
<div class="table-responsive" *ngIf="admins && admins.length > 0">
  <table class="table table-hover table-bordered">
    <tr class="table-primary">
        <th>#</th>
      <th>Username</th>
      <th>Admin type</th>
      <th>Admin status</th>
      <th></th>
    </tr>
    <tr *ngFor="let admin of admins; let i = index" class="table-info">
        <td>
            {{i+1}}.
        </td>
      <td>
        {{admin.username}}
      </td>
      <td>
        {{admin.userType}}
      </td>
      <td>
        {{admin.userStatus}}
      </td>
      <td>
        <button type="button" class="btn btn-danger" aria-label="Delete" (click)="delete(admin.id)"> Delete</button>
        <button type="button" class="btn btn-primary"  (click)="activate(admin)">{{admin.userStatus == "ACTIVATED" ? "Deactivate" : "Activate" }}</button>
    </td>
    </tr>
  </table>
</div>