<div>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="#">
      <img [src]="imageLogoPath" alt="Not found logo"/>
    </a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link btn btn-outline-primary" [routerLinkActive]="['active']" href="#" [routerLink]="['/home-page']">Home page</a>
        <a class="nav-item nav-link btn btn-outline-primary" [routerLinkActive]="['active']" href="#" [routerLink]="['/login']">Login</a>
        <a class="nav-item nav-link btn btn-outline-primary" [routerLinkActive]="['active']" href="#" [routerLink]="['/register']">Register</a>
        <a *ngIf="authenticationService.isLoggedIn()" class="btn btn-secondary btn-lg" [routerLinkActive]="['active']" href="#" [routerLink]="['/login']" (click)="authenticationService.logout()">
          <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
      </div>
    </div>
  </nav>
</div>
