<div>
  <table>
    <tr>
      <td><label for="transport_type_select">Transport type: </label></td>
      <td>
        <select id="transport_type_select" (change)="transportTypeChanged($event)">
          <option value="0" selected>BUS</option>
          <option value="1">TRAM</option>
          <option value="2">METRO</option>
        </select>
      </td>
    </tr>
    <tr>
      <td style="width: 165px" align="right">
        <label for="zone_name_input">Zone name: </label>
      </td>
      <td colspan="2">
        <input id="zone_name_input" type="text" [(ngModel)]="zone.name" />
        <button id="zone_name_button" (click)="save()" >Add</button>
      </td>
    </tr>
  </table>
</div>
